.second,
.third {
  position: relative;
  display: block;
  animation: slide-from-right 0.8s ease both;
}

.slide-from-right {
  position: relative;
  display: block;
  animation: slide-from-right 0.8s ease both;
}
.slide-from-left {
  position: relative;
  display: block;
  animation: slide-from-left 0.6s ease both;
}

.hide {
  display: none;
}

/* .flash {
  position: fixed;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.5s;
} */

/* flex-flow: column; */
.flash {
  position: fixed;
  display: flex;
  z-index: 10000;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.5s;
  /* animation: slide-from-left 0.6s ease; */
}

@keyframes slide-from-right {
  from {
    right: -500px;
  }
  to {
    right: 0px;
  }
}

@keyframes slide-from-left {
  from {
    left: -500px;
  }
  to {
    left: 0px;
  }
}
